<div class="container">
  <!-- <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> You lost data has been entered Successfully.
    <button  (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
<!-- <form id = "formData" [formGroup]="lostForm" #lostData="ngForm" (ngSubmit)="lostUser(lostData.value)"> -->
  <br>
  <br>
  <form id = "formData" [formGroup]="lostForm"  #lostData="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="form-group">
    <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="validationCustom01" autocomplete="off" formControlName="email" class="form-control form-control-lg"
          placeholder="Enter a valid email address" ngModel/>
        <!-- <label class="form-label" for="form3Example3">Email address</label> -->
      </div>
    <!-- mobile input -->
    <div class="form-outline mb-4">
      <input type="number" id="validationCustom02" autocomplete="off" formControlName="mobile_no" class="form-control form-control-lg"
        placeholder="Enter a Mobile Number" ngModel/>
      <!-- <label class="form-label" for="form3Example3">Email address</label> -->
    </div>

    <label for="validationCustom01">Item name</label>
    <input type="text" formControlName="itemname" class="form-control" id="validationCustom03" 
    placeholder="Enter Item name" value="" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" formControlName="description" id="validationCustom04" 
    placeholder="Enter Desription" rows="6"></textarea>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Enter a question for the lost Item</label>
    <input type="text" class="form-control" formControlName="question" id="validationCustom05" 
    placeholder="Ex. What is the color of the phone ?">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Item Type</label>
    <select class="form-control" formControlName="type"  id="validationCustom06">
      <option selected>Choose...</option>
      <option>Lost Item</option>
      <option>Found Item</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlFile1">Item Image</label>
    <!-- <input type="file" (change) = "upload($event)" #UploadFileInput class="form-control-file" 
    formControlName="itemimage" id="validationCustom07"> -->
    <input type="file" (change) = "upload($event)" #UploadFileInput class="form-control-file" >
    <!-- <span *ngIf="!lostForm.get('itemimage').valid">Please select image file</span> -->
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>
</div>